#mydiv {
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    padding: 40px;
    border: 5px solid black;
}

#mydiv2 {
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    padding: 40px;
    border: 5px solid black;
}

.crop1 {
    position: absolute;
    top: 125px;
    left: 525px;
}

.crop2 {
    position: absolute;
    top: 125px;
    left: 725px;
}
</style>
